# Ignorar entorno virtual
venv/
.venv/
env/
.env/

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos específicos de Streamlit
.streamlit/

# Ignorar archivos de sistema/OS
.DS_Store
Thumbs.db

# Ignorar archivos de datos sensibles o muy grandes (si los tuvieras)
# my_secret_data.csv
# large_output_files/
